* {    
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #22262A;
  font: normal 400 15px/22px 'Poppins', sans-serif;
  background-color: #FFFFFF;
  width: 900px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 20px;
}

.RowList {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  padding: 5px;
}

.Row {
  border: 2px dashed black;
  padding: 5px;
  margin: 5px;
}