* {    
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #22262A;
  font: normal 400 15px/22px 'Poppins', sans-serif;
  background-color: #FFFFFF;
  width: 900px;
  margin: 0 auto;
}

ul {
  list-style: none;
}